
.navbar {
    background-color: #44474C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 0.5rem;
    align-items: center;
}

.navbar__name{
    display: flex;
    justify-content: center
} 

.navbar__logo{
    width: 150px;
    height: 80px;
}
:Link{
    margin:25px;
    text-decoration: none;
}

.playstation{
    color: #1464EA;
}
.active{
    color: #ffff;
    font-weight: 900;
}

.playstation:hover {
    font-weight: 900;
}

.xbox{
    color: #50C20B;
}
.xbox:hover{
    font-weight: 900;
}
.nintendo{
    color: #EC1C1C;
}
.nintendo:hover{
    font-weight: 900;
}
.otros{
    color: #ED801A;
}
.otros:hover{
    font-weight: 900;
}